.App {
  display: flex;
  padding-top: 5vh;
  width: 100vw;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  gap: 20px;
}
.DivBotao {
  width: 400px;
  display: flex;
  align-items: baseline;
}
.Botao {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  background-color: cadetblue;
}
